$std_sec_heigh: 500px;
*{
    box-sizing: border-box;
}

#nav-section{
    height: 100px;
}
.nav-link{
    position: relative;
    left: 40%;
}
#sec1_slogan{
    background-image: url(slogan1.jpg);
    color:antiquewhite;
    background-color: aquamarine;
    height: $std_sec_heigh;   
}

#sec2_about_us{
    height: $std_sec_heigh;
}
#sec3_services{
    height: $std_sec_heigh;
}
#sec2-sec3{
    background-image: url(about_us.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sec4_free_creativity{
    background-color: pink;
    height: $std_sec_heigh;
}
#sec5_client_comments{
    background-image: url(slogan2.jpg);
    background-color: yellow;
    height: $std_sec_heigh;
}
#sec6-footer{
    background-image: url(contact_us.jpg);
    background-size: cover;
    height: 100%;
}
#sec6_contact_us{
    height: $std_sec_heigh;
}
#additional_info{
    height: $std_sec_heigh - 100px;
}
