$std_sec_heigh: 500px;
$std_sec_gap: 1vw;
*{
    box-sizing: border-box;
    font-family: 'Montserrat'
}

body{
    display: grid;
    margin: 0px 1%;
    background-color: black;
    gap: $std_sec_gap;
}

.content{
    margin: 0px 1%;   
}

#page_header{
    display: flex;
    position: sticky;
    width: 100%;
    height: auto;
    background-color: white;
    align-items: center;
    margin-top: 0px;
}
#page-logo{
    position: relative;
    object-fit: fill;
    aspect-ratio: 63/27;
    width: auto;
    height: clamp(70px, 10vh, 125px);
    left: 0px;
    // clamp(4vw, 26vw, 600px)
    margin: 10px 0px 10px 10px;
}
#nav-section{
    background-color: white;
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    flex: 2;
    justify-content: end;
}

.nav-link{
    font-size: clamp(1.2rem, 28px, 2vw);
    color: black;
    position: relative;
    margin-right: 20px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: gray;
}

.nav-link:link{
    color: black;
    position: relative;
    margin-right: 20px;
    text-decoration: none;
}

.nav-link:visited{
    color: black;
}

#sec1_slogan{
    object-fit: contain;
    background-image: url(slogan1.jpg);
    color: white;
    background-color: aquamarine;
    height: $std_sec_heigh;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0px;
}
.content-section{
    color: white;
}



#overlay_flex_main{
    display: flex;
    flex-direction: column;

}
.h_slogan{
    $horizontal_margin: clamp(80px, 20vw, 30vw);
    font-size: clamp(30px, 2.35rem, 40px);
    margin: 1% $horizontal_margin 3% $horizontal_margin;
}
h3.h_slogan{
    font-size: calc(clamp(30px, 2rem, 40px) - 10px);
}

#sec2_about_us{
    height: $std_sec_heigh;
}
#sec3_services{
    height: $std_sec_heigh;
}
#sec2-sec3{
    background-image: url(about_us.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sec4_free_creativity{
    background-color: pink;
    height: $std_sec_heigh;
}
#sec5_client_comments{
    background-image: url(slogan2.jpg);
    background-color: yellow;
    height: $std_sec_heigh;
}
#sec6-footer{
    background-image: url(contact_us.jpg);
    background-size: cover;
    height: 100%;
}
#sec6_contact_us{
    height: $std_sec_heigh;
}
#additional_info{
    height: $std_sec_heigh - 100px;
}
